body {
  margin: 10px;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: #d6d6d6;
}

.container{
  margin: auto;
  padding: 5px;
}
.txtPrincipal {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #393838;
}

button {
  margin: auto;
  width: 50%;
  padding: 10px;

}

input{
  width: 80%;
  margin: auto;
  padding: 10px;
  border-radius: 10px;

}
.card{
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 5px;
  box-shadow: 2px 2px 4px #393838;
  max-width: 150px;
}
.card p{
  font-weight: 700;
  text-align: center;
  color: #393838;
}

.card img{
  border-radius: 6px;
  width: 100%;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.loading{
  width: 100%;
  height: 100%;
  top: 0; bottom: 0; right: 0; left: 0;
  position: fixed;
  z-index: 9999;
  background-color: rgba(46, 41, 41, 0.6);
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.loading img{
  width: 80%;
  margin: auto;
}